@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* These styles are here because they style elements that are retrieved from the plugin API. */
.updateContainer ul {
    @apply list-disc
}

.updateContainer code {
    @apply bg-gray-900 p-1
}

.updateContainer a {
    @apply text-accent underline underline-offset-2 decoration-blue-400
}

[x-cloak] { display: none !important; }
