@font-face {
    font-family: "HC Sinclair";
    font-weight: 400;
    src: url(../font/HCSinclair/HCSinclair-Normal.woff) format("woff"),
         url(../font/HCSinclair/HCSinclair-Normal.woff2) format("woff2");
}
@font-face {
    font-family: "HC Sinclair";
    font-weight: 500;
    src: url(../font/HCSinclair/HCSinclair-Medium.woff) format("woff"),
         url(../font/HCSinclair/HCSinclair-Medium.woff2) format("woff2");
}
@font-face {
    font-family: "HC Sinclair";
    font-weight: 700;
    src: url(../font/HCSinclair/HCSinclair-Bold.woff) format("woff"),
         url(../font/HCSinclair/HCSinclair-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "Swiss Extended Bold";
    font-weight: 400;
    src: url(../font/Swiss/Swiss-721-Extended-Bold.woff) format("woff"),
         url(../font/Swiss/Swiss-721-Extended-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "TT Squares";
    font-weight: 900;
    src: url(../font/TTSquares/TTSquares-Black.woff) format("woff"),
         url(../font/TTSquares/TTSquares-Black.woff2) format("woff2");
}

@font-face {
    font-family: "TT Squares";
    font-weight: 500;
    src: url(../font/TTSquares/TTSquares-Regular.woff) format("woff"),
         url(../font/TTSquares/TTSquares-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "TT Squares";
    font-weight: 700;
    src: url(../font/TTSquares/TTSquares-Bold.woff) format("woff"),
         url(../font/TTSquares/TTSquares-Bold.woff2) format("woff2");
}

@font-face {
    font-family: "TT Squares";
    font-weight: 400;
    src: url(../font/TTSquares/TTSquares-Light.woff) format("woff"),
         url(../font/TTSquares/TTSquares-Light.woff2) format("woff2");
}
