@utility button-container {
    @apply absolute top-0 right-0 bottom-0 left-0 h-full w-full border-[2.5px] border-(--button-border);
}

@utility button-be {
    @apply button-container;
    clip-path: inset(0% 0% 70% 0%);
}

@utility button-af {
    @apply button-container;
    clip-path: inset(70% 0% 0% 0%);
}

@utility button-wrapper {
    --button-border: #747474;
    --glow-height: 8px;

    @apply flex flex-row flex-nowrap text-[1rem] leading-6 font-medium text-white before:button-be after:button-af;

    @variant hover {
        --button-border: #FFEB00;
        cursor: pointer;
        box-shadow: inset 0 0 var(--glow-height) var(--glow-height) #ffeb0020,0 0 var(--glow-height) var(--glow-height) #ffeb0020;
        text-shadow: 0 0 var(--glow-height) #00000000;
        transition: all .1s, background-color .3s, box-shadow .2s;
    }
    @variant active {
        --button-border: white;
        cursor: pointer;
        box-shadow: inset 0 0 var(--glow-height) 2px #ffeb00c0,0 0 var(--glow-height) 4px #ffeb00c0;
        text-shadow: 0 0 var(--glow-height) #00000000;
    }
}
